@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yantramanav";
  src: url("/fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #ffffff;
  --color-dark-grey: #404040;
  --color-light-grey: #c4c4c4;
  --border-radius: 30px;
  --border: 1px solid var(--color-light);
  --font-family-base: "Heebo", sans-serif;
  --font-family-assent: "Yantramanav", sans-serif;
  --input-height: 54px;
  --container-width: 1300px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
  --header-height: 90px;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-light-grey);
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-grey);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

p {
  margin-block: 0px;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 38px;
  max-width: 134px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 26px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: none;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-light-grey);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  max-width: 193px;
  padding-left: 31px;
  padding-right: 80px;
  background: transparent;
  border: var(--border);
}
.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-grey);
}
.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url(../images/Arrow-45-deg.svg) center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--color-light);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: var(--header-height);
  background-color: var(--color-dark-alternate);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-inline: 32px;
}
.header-logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.header-menu-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--header-height);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-light);
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1.2px;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.header-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header-burger-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 4px;
  padding-left: 8px;
  border: var(--border);
  border-radius: 50%;
  color: var(--color-light);
  width: 40px;
  aspect-ratio: 1;
  background-color: transparent;
}
.header-burger-button:hover {
  color: var(--color-light-grey);
  border-color: currentColor;
}
.header-burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  -webkit-box-shadow: 16px 0px 0px 0px currentColor;
          box-shadow: 16px 0px 0px 0px currentColor;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}
.banner-body {
  text-transform: uppercase;
}
.banner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 1.56vw, 30px);
  font-weight: 700;
  line-height: 1.27;
  text-align: left;
}
.banner-info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  background: url(../images/icon-arrow.svg) center/contain no-repeat;
  margin-right: 30px;
}
.banner-title {
  font-size: min(18.75vw, 360px);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0%;
  text-align: left;
}
.banner-pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner-pagination-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
  background-color: transparent;
  border: none;
}
.banner-pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0px;
  border: var(--border);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.banner-pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-grey);
}
.banner-pagination-button.is-current::after {
  background-color: var(--color-light);
}

.motivation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(30px, 10.73vw, 206px);
     -moz-column-gap: clamp(30px, 10.73vw, 206px);
          column-gap: clamp(30px, 10.73vw, 206px);
}
.motivation-card-image {
  margin-block: -60px;
}
.motivation-card-body {
  padding-left: 65px;
}
.motivation-card-description {
  min-width: 400px;
}
.motivation-card-description:not(:last-child) {
  margin-bottom: 37px;
}
.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}
.motivation-item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}
.motivation-item:nth-child(even) .motivation-card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.training-types {
  max-width: 1920px;
  margin-inline: auto;
  position: relative;
  background-color: var(--color-dark);
  padding-top: 70px;
  padding-bottom: 120px;
}
.training-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}
.training-types-item {
  --trainingTypesIconSize: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 32px;
  padding-top: var(--trainingTypesIconSize);
  background: url(../images/training-types/Vector-arrow.svg) 100% 0/var(--trainingTypesIconSize) no-repeat;
}
.training-types-item-title {
  color: var(--color-light);
}

.backdrop-title {
  position: relative;
  z-index: 2;
}
.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  aspect-ratio: 1;
  right: calc(100% + 8px);
  margin-top: 3px;
  background: url(../images/icon-plus.svg) center/cover no-repeat;
}
.backdrop-title::after {
  position: absolute;
  z-index: -1;
  top: -0.45em;
  left: -0.65em;
  content: attr(data-title);
  color: transparent;
  -webkit-text-stroke: 1px var(--color-light-grey);
  font-size: 2.8em;
  font-family: var(--font-family-assent);
}

.join-us-video-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 30px;
  background: url(../images/join-us-bg.jpeg) center center/cover no-repeat var(--color-dark-alternate);
}
.join-us-video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  background-color: transparent;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}
.join-us-video-play-button:hover {
  color: var(--color-dark);
  background: var(--color-light-grey);
}
.join-us-video-play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url(../images/join-us-arrow-45deg.svg) center/contain no-repeat;
  color: var(--color-light);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.join-us-video-play-button:hover::after {
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 1919px) {
  .motivation-card-image {
    margin-block: -20px;
  }
}
@media (max-width: 1280px) {
  .training-types-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 15px;
  }
  .header-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-menu-link {
    height: 50px;
  }
  .header-menu-list {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
  .banner {
    padding-inline: 15px;
    row-gap: 10px;
  }
  .motivation-card {
    padding-block: 50px;
  }
  .motivation-card-image {
    max-width: 30%;
    height: auto;
    margin-block: 0px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-inline: 10px;
    padding-top: 10px;
  }
  .header-menu-link {
    height: 32px;
  }
  .header-menu-list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .header-action {
    -webkit-column-gap: 14px;
       -moz-column-gap: 14px;
            column-gap: 14px;
  }
  .button {
    padding-inline: 20px;
  }
  .banner-info {
    margin-bottom: 5px;
  }
  .banner-info::before {
    margin-right: 10px;
  }
  .motivation-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-block: 30px;
    row-gap: 30px;
  }
  .motivation-card-image {
    max-width: 85%;
  }
  .motivation-card-description {
    min-width: 290px;
    padding-right: 10px;
  }
  .motivation-card-description:not(:last-child) {
    margin-bottom: 20px;
  }
  .motivation-item:nth-child(even) .motivation-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .training-types-item {
    --trainingTypesIconSize: 50px;
    row-gap: 10px;
  }
  .training-types-item-title {
    text-align: center;
  }
  .training-types-image {
    max-width: 120px;
  }
}/*# sourceMappingURL=style.css.map */