.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--header-height);
    background-color: var(--color-dark-alternate);
    column-gap: 20px;
    padding-inline: 32px;
    &-logo{
        flex-shrink: 0;
    }
    &-menu-list{
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
    }
    &-menu-link {
        display: inline-flex;
        align-items: center;
        height: var(--header-height);
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color-light);
        font-size: 12px;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 1.2px; 
        column-gap: 7px;       
    }
    &-menu-link.is-current::after{
        content: '';
        width: 5px;
        aspect-ratio: 1;
        background-color: currentColor;
        border-radius: 50%;
    }
    &-action{
        display: flex;
        align-items: center;
        column-gap: 40px;
    }
    &-burger-button{
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 4px;
      padding-left: 8px;
      border: var(--border);
      border-radius: 50%;
      color: var(--color-light);  
      width: 40px;
      aspect-ratio: 1;
      background-color: transparent;
      &:hover{
        color: var(--color-light-grey);
        border-color: currentColor;
      }
      &-line{
        width: 6px;
        height: 1px;
        background-color: currentColor;
        box-shadow: 16px 0px 0px 0px currentColor;
      }
    }
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100vh - var(--header-height));
    padding: 36px 70px;
    color: var(--color-light);
    background-color: var(--color-dark-alternate);
    &-body{
        text-transform: uppercase;
    }
    &-info{
        display: flex;
        align-items: flex-end;
        color: rgb(255, 255, 255);
        font-size: clamp(16px, 1.56vw, 30px) ;
        font-weight: 700;
        line-height: 1.27;
        text-align: left;
        &::before{
            content: '';
            width: clamp(60px, 10.1vw, 194px);
            aspect-ratio: 1;
            background: url(../images/icon-arrow.svg) center/contain no-repeat;
            margin-right: 30px;
        }
    } 
    &-title{        
        font-size: min(18.75vw, 360px);
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0%;
        text-align: left;
    }
    &-pagination{
        &-list{
            display: flex;
            justify-content: center;

        }
        &-item{
            display: flex;
        }
        &-button{ 
            display: inline-flex;
            justify-content: center;
            align-items:center;           
            padding: 7px;
            background-color: transparent;
            border: none;
            &::after{
                content: '';
                width: 10px;
                aspect-ratio: 1;
                border-radius: 50%;
                padding: 0px;
                border: var(--border);
                transition-duration: var(--transition-duration);
            }
            &:not(.is-current):hover::after{
                border-color: var(--color-light-grey);
            }
        }
        &-button.is-current::after{
           background-color: var(--color-light);
        }      
    }
}
.motivation{
  &-card{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: clamp(30px, 10.73vw, 206px );
    &-image{
      margin-block: -60px;
    }
    &-body{
      padding-left: 65px;
    }
    &-description{
      min-width: 400px;
      &:not(:last-child){
        margin-bottom: 37px;
      }
    }
    &-title{
      &:not(:last-child){
        margin-bottom: 14px;
      }
    }    
  }
  &-item{
    &:nth-child(even){
      background-color: var(--color-dark-alternate);
    }
    &:nth-child(even) .motivation-card{
      flex-direction: row-reverse;
    }
  }
  
}
.training-types{
    max-width: 1920px;
    margin-inline: auto;
    position: relative;
    background-color: var(--color-dark);
    padding-top: 70px;
    padding-bottom: 120px;
    &-list{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 60px;
    }
    &-item{
        --trainingTypesIconSize: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
        padding-top: var(--trainingTypesIconSize);
        background: url(../images/training-types/Vector-arrow.svg) 100% 0/var(--trainingTypesIconSize) no-repeat;
        &-title{
            color: var(--color-light);
        }
    }
}
.backdrop-title{
  position: relative;
  z-index: 2;
  &::before{
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    aspect-ratio: 1;
    right: calc(100% + 8px);
    margin-top: 3px;
    background: url(../images/icon-plus.svg) center/cover no-repeat;
  }
  &::after{
    position: absolute;
    z-index: -1;
    top: -0.3em;
    left: -0.65em;
    content: attr(data-title);      
    color: transparent;
    -webkit-text-stroke: 1px var(--color-light-grey);
    font-size: 2.8em;
    line-height: 1;
    font-family: var(--font-family-assent);
  }
}
.join-us{
  background-color: var(--color-dark-alternate);
  &-video-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 30px;
    background: url(../images/join-us-bg.jpeg) center center/cover no-repeat var(--color-dark-alternate);
  }
  &-video{ 
    width: 100%; //прописываем три значения для адаптации видео картинки
    max-width: 960px;
    height: auto;
  }
  &-title{
    position: relative;
    font-size: clamp(64px, 9.37vw, 180px);
    margin-top: -0.5em;
    line-height: 1;
    text-align: center;
    &:not(:last-child){
      margin-bottom: 130px;
    }
    &::after{
      content: '';
      display: inline-block;
      width: 0.71em;
      aspect-ratio: 1;
      background: url(/images/icon-arrow.svg) center/contain no-repeat;
      scale: 1 -1; //повертаемо стрілку вверх
      margin-left: 0.14em;
    }
  }  
  &--form-subtitle{
    color: var(--color-light);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.65;
    text-align: center;
    text-transform: uppercase;
  }
  &-form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    &:not(:last-child){
      margin-bottom: 52px;
    }
  }
  &-form-body{
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
  &-form-input{
    max-width: 400px;
  }
  &-body{
    padding-bottom: 150px;
  }
  &-video-play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: inline-flex;
    justify-content: center;
    align-items: 	center ;
    width: clamp(70px, 20.83vw, 200px);
    // width: 200px;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
    background-color: transparent;
    column-gap: 4px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
    &:hover{
      color: var(--color-dark);
      background: var(--color-light-grey);
    }
    &::after{
      content: '';
      width: 26px;
      aspect-ratio: 1;
      background: url(../images/join-us-arrow-45deg.svg) center/contain no-repeat;
      color: var(--color-light);
      transition-duration: var(--transition-duration);
    }
    &:hover::after{
      filter: invert(1); //инвертируем цвет иконки стрелки
    }
  }
}
.location{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &-map-image{
    height: auto;//для того чтобы картинка не теряла пропорции при сжатии экрана
  }
  &-body{
    padding: 80px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-title:not(:last-child){
    margin-bottom: 14px;
  }
  &-description{
    max-width: 490px;
  }
  &-description:not(:last-child){
    margin-bottom: 37px;
  }
}
.family{
  background-color: var(--color-dark-alternate);
  &-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 7px;
    padding-top: 132px;
    padding-bottom: 62px;
  }
  &-body{
    display: flex;
    //justify-content: center;
    column-gap: 26px;
    scroll-snap-type: x mandatory; //придаст контейнеру поведение слайдера
    overflow-x: scroll; // возможность скрола по горизонтали
  }
  &-image{
    scroll-snap-align: start;
  }
}
.calculate{
  background-color: var(--color-dark-alternate);
  padding-block: 146px;  
  &-inner{
    display: flex;
    align-items: center;
    column-gap: 36px;
  }
  &-body{
    flex-grow: 1; 
    max-width: 627px;
  }
  &-title{      
    &:not(:last-child){
      margin-bottom: 16px;
    }
  }
  &-description{
    max-width: 385px;
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  &-form{
    &-body{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 18px 30px;
      &:not(:last-child){
        margin-bottom: 26px;
      }
    }
    &-input.wide{
      grid-column: -1 / 1; // растягиваем грид елемент на всю ширину
    }
  }
  &-table{
    position: relative;
    border-collapse: collapse;
  }
  &-table th{
    padding-block: 20px;
    text-transform: uppercase;
    color: var(--color-light);
  }
  &-table td{
    padding-block: 14px;
  }
  &-table tfoot td{
    padding-top: 33px;
    padding-bottom: 0px;
    color: var(--color-light);  
  }
  &-table :is(td, th){
    padding-right: 30px;
  }
  &-table :is(td, th):not(:first-child){
    padding-left: 30px;
  }
  &-table :is(td, th):not(:last-child){
    border-right: 1px solid var(--color-light-grey);
  }
  &-table tbody td{
    border-top: 1px solid var(--color-light-grey);
  }
  &-table tbody tr:last-child td:first-child{
    position: relative;
  }
  &-table tbody tr:last-child td:first-child::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1px;
    background-color: var(--color-light-grey);
  }
  &-table-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 610px;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      aspect-ratio: 1;
      background-color: var(--color-dark);
      border-radius: 50%;

    }
  }
}