.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark-alternate);
    column-gap: 20px;
    padding-inline: 32px;
    &-logo{
        flex-shrink: 0;
    }
    &-menu-list{
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
    }
    &-menu-link {
        display: inline-flex;
        align-items: center;
        height: 90px;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color-light);
        font-size: 12px;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 1.2px; 
        column-gap: 7px;       
    }
    &-menu-link.is-current::after{
        content: '';
        width: 5px;
        aspect-ratio: 1;
        background-color: currentColor;
        border-radius: 50%;
    }
    &-action{
        display: flex;
        align-items: center;
        column-gap: 40px;
    }
    &-burger-button{
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 4px;
      padding-left: 8px;
      border: var(--border);
      border-radius: 50%;
      color: var(--color-light);  
      width: 40px;
      aspect-ratio: 1;
      background-color: transparent;
      &:hover{
        color: var(--color-light-grey);
        border-color: currentColor;
      }
      &-line{
        width: 6px;
        height: 1px;
        background-color: currentColor;
        box-shadow: 16px 0px 0px 0px currentColor;
      }
    }
}