@media (max-width:1919px){
   .motivation{
     &-card{
      &-image{
         margin-block: -20px;
      }
     } 
   }
}

@media (max-width:1024px){
   .header{
      flex-wrap: wrap;
      padding-top: 20px;
      row-gap: 10px;
      padding-inline: 15px;
      &-menu{
         order: 1;
         flex-basis: 100%;
         &-link{
            height: 50px;
         }
         &-list{
            column-gap: 35px;
         }
      }
   }
   .banner{
      padding-inline: 15px;
      row-gap: 10px;

   }
   .motivation{
      &-card{
         padding-block: 50px;
       &-image{
          max-width: 30%;
          height: auto;
          margin-block: 0px;
       }
      } 
    }
}
@media (max-width:767px){
   .header{
      padding-inline: 10px;
      padding-top: 10px;
      &-menu-link{
         height: 32px;
      }
      &-menu-list{
        column-gap: 20px;
      }
      &-action{
         column-gap: 14px;
      }
   }
   .button{
      padding-inline: 20px;      
   }
   .banner{
      &-info{
         margin-bottom: 5px;
         &::before{
            margin-right: 10px;
         }
      }
   }
   .motivation{
      &-card{
         flex-direction: column-reverse;
         padding-block: 30px;
         row-gap: 30px;
         &-image{
            max-width: 85%; 
         }
         &-description{
            min-width: 290px;
            padding-right: 10px;
            &:not(:last-child){
               margin-bottom: 20px;
             }
         }
      }
      &-item{
         &:nth-child(even) .motivation-card{
            flex-direction: column-reverse;

          }
       }
    }
}