@media (max-width:1919px){
   .motivation{
     &-card{
      &-image{
         margin-block: -20px;
      }
     } 
   }
}
@media (max-width:1280px){
   .training-types{
      &-list{
         grid-template-columns: repeat(3, 1fr);

      }
   }
}

@media (max-width:1024px){
   .header{
      flex-wrap: wrap;
      padding-top: 20px;
      row-gap: 10px;
      padding-inline: 15px;
      &-menu{
         order: 1;
         flex-basis: 100%;
         &-link{
            height: 50px;
         }
         &-list{
            column-gap: 35px;
         }
      }
   }
   .banner{
      padding-inline: 15px;
      row-gap: 10px;

   }
   .motivation{
      &-card{
         padding-block: 50px;
       &-image{
          max-width: 30%;
          height: auto;
          margin-block: 0px;
       }
      } 
    }
    .join-us{
       &-body{
          padding-bottom: 80px;
       }
       
    }
    .location{
      display: flex;
      flex-direction: column-reverse;
    }
    .family{
      &-image{
         height: 360px;
      }
    } 
}
@media (max-width:767px){
   .header{
      padding-inline: 10px;
      padding-top: 10px;
      &-menu-link{
         height: 32px;
      }
      &-menu-list{
        column-gap: 20px;
      }
      &-action{
         column-gap: 14px;
      }
   }
   .button{
      padding-inline: 20px;      
   }
   .banner{
      &-info{
         margin-bottom: 5px;
         &::before{
            margin-right: 10px;
         }
      }
   }
   .motivation{
      &-card{
         flex-direction: column-reverse;
         padding-block: 30px;
         row-gap: 30px;
         &-image{
            max-width: 85%; 
         }
         &-description{
            min-width: 290px;
            padding-right: 10px;
            &:not(:last-child){
               margin-bottom: 20px;
             }
         }
      }
      &-item{
         &:nth-child(even) .motivation-card{
            flex-direction: column-reverse;

          }
       }
    }
    .training-types{
      &-list{
         grid-template-columns: repeat(2, 1fr);
         gap: 30px;
      }
      &-item{
         --trainingTypesIconSize: 50px;
         row-gap: 10px;
         &-title{
            text-align: center;
         }
      }
      &-image{
         max-width: 120px;
      }
   }
   .join-us{
      &-form-body{
         flex-wrap: wrap;
         row-gap: 20px;
      }
      &-form-form-header{
         align-items: center;
      }
      &-form-subtitle{
         font-size: 16px;
      }
   }
   .location{
      &-body{
         padding-block: 40px;
      }
      &-description{
         &:not(:last-child){
            padding-bottom: 20px;
         }
      }
   }
   .family{
      &-image{
         height: 180px;
      }
      &-header{
         padding-top: 80px;
         padding-bottom: 50px;
      }
      &-body{
         column-gap: 12px;
      }
    } 
}
